*,
*:after,
*:before {
  box-sizing: border-box;
  outline: none;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font: inherit;
  font-size: 100%;

  margin: 0;
  padding: 0;

  vertical-align: baseline;

  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;

  &:before,
  &:after {
    content: "";
    content: none;
  }
}

sub,
sup {
  font-size: 75%;
  line-height: 0;

  position: relative;

  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

input,
textarea,
button {
  font-family: inhert;
  font-size: inherit;

  color: inherit;
}

select {
  text-indent: 0.01px;
  text-overflow: "";

  border: 0;
  border-radius: 0;

  -webkit-appearance: none;
  -moz-appearance: none;
}

select::-ms-expand {
  display: none;
}

code,
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;
}

body {
  -moz-user-select: none;
  /*火狐*/
  -webkit-user-select: none;
  /*webkit浏览器*/
  -ms-user-select: none;
  /*IE10*/
  -khtml-user-select: none;
  /*早期浏览器*/
  -o-user-select: none;
  user-select: none;
}

img {
  -webkit-user-drag: none;
}

// 公共样式（可拖拽）
.drag {
  user-select: none;
  -webkit-app-region: drag;
}

// 公共样式（不可拖拽）
.no-drag {
  -webkit-app-region: no-drag;
}

// 空间顶部可拖拽容器
.drag-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  height: 30px;
  z-index: 999;
  // background-color: #333;
}

// 文字单行省略
.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// 滚动条省略
// &::-webkit-scrollbar {
//     display: none;
// }

//滚动条样式
::-webkit-scrollbar {
  width: 3px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: rgb(239, 239, 239);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: var(--light-accent-100);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #bfbfbf;
}

::-webkit-scrollbar-corner {
  background: #bfbfbf;
}

:root {
  // 暗色模式
  --dark_WaiF: #656464; // 默认空白内容文字颜色
  --dark-bg: #333333; // 背景色
  --dark-text: #fff; // 文字颜色
  // 亮色模式
  --light_WaiF: #cccccc; // 默认空白内容文字颜色
  --light-bg: #fbfbfb; // 背景色
  --light-background-color: #f8f8f8; // 基础背景色
  --light-text: #333; // 文字颜色

  // 公共样式
  --btn-bg: #8b5fbf; // 按钮样式
}

// login
:root {
  --primary-color: #004dff;
  --white-color: #ffffff;

  --light-text-color: #9398b3;
  --light-bg-color: #f2f4ff;
  --dark-color: #333333;

  --background-color: #fcfcff;
}

/* 新主配色  白天*/
:root {
  // 按钮颜色
  --light-primary-100: #8b5fbf;
  // 消息颜色
  --light-primary-200: #61398f;
  --light-primary-300: #ffffff;
  //分割线
  --light-accent-100: #d6c6e1;
  // 小按钮
  --light-accent-200: #9a73b5;
  --light-text-100: #4a4a4a;
  --light-text-200: #878787;
  /* 侧边信息栏 主背景栏 */
  --light-bg-100: #f5f3f7;
  /* 聊天内容区 */
  --light-bg-200: #e9e4ed;
  /* 侧边导航栏 */
  --light-bg-300: #ffffff;
}
/* 黑夜 */
:root {
  --dark-primary-100: #0085ff;
  --dark-primary-200: #69b4ff;
  --dark-primary-300: #e0ffff;
  --dark-accent-100: #006fff;
  --dark-accent-200: #e1ffff;
  --dark-text-100: #ffffff;
  --dark-text-200: #9e9e9e;
  --dark-bg-100: #1e1e1e;
  --dark-bg-200: #2d2d2d;
  --dark-bg-300: #454545;
}
